<!-- {{SASTRA_Thanjavur/Bootstrap}} -->
<html>
  <style>
    nav a{
      font-size: 20px;
    }
  </style>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="">
      <img src="https://2019.igem.org/wiki/images/7/79/T--SASTRA_Thanjavur--Logo.png" width="50" height="30" class="d-inline-block align-top">
      iGEM SASTRA
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Team
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Team Members</a>
              <a class="dropdown-item" href="#">Collaborations</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Project
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Description</a>
              <a class="dropdown-item" href="#">Design</a>
              <a class="dropdown-item" href="#">Experiments</a>
              <a class="dropdown-item" href="#">Notebook</a>
              <a class="dropdown-item" href="#">Contribution</a>
              <a class="dropdown-item" href="#">Results</a>
              <a class="dropdown-item" href="#">Demonstrate</a>
              <a class="dropdown-item" href="#">Improve</a>
              <a class="dropdown-item" href="#">Attributions</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Parts
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Parts Overview</a>
              <a class="dropdown-item" href="#">Basic Parts</a>
              <a class="dropdown-item" href="#">Composite Parts</a>
              <a class="dropdown-item" href="#">Part Collection</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Safety
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Human Practices
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Activities</a>
              <a class="dropdown-item" href="#">Awareness</a>
              <a class="dropdown-item" href="#">Engagement</a>
              <a class="dropdown-item" href="#">Silver</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Awards
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Software</a>
              <a class="dropdown-item" href="#">Model</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Judging Form</a>
          </li>
        </ul>
      </div>
  </nav>

</html>
